$custom1: #F1F6F9;
$custom2: #394867;
$custom3: #212A3E;
$custom4: #9BA4B5;


$primary:       $custom2;
$secondary:     $custom1;

$carousel-caption-width:             100%;
$carousel-caption-color:            $custom1;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;




.carousel-item{
    height: 400px;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
} 
.carousel-item img{
    height: 400px;
    width: 100%;
}


@import "../node_modules/bootstrap/scss/bootstrap";


